@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Example with a simple configuration.
        </p>
        <p><a class="btn btn-default" href="~/Products">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Example showing the ability to support nested objects.</p>
        <p><a class="btn btn-default" href="~/Customers">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vendors</h2>
        <p>Example using custom filters.</p>
        <p><a class="btn btn-default" href="~/Vendors">Learn more &raquo;</a></p>
    </div>
</div>