<table id="SearchResultTable" class="display" cellspacing="0" width="100%">
    <div>
        <div>Age: from <input type="type" id="minAge" value="30" class="reload-table" /> to <input type="type" id="maxAge" value="40" class="reload-table" /></div>
        <div>Srarting Date: from <input type="type" id="minStartDate" value="" class="reload-table" /> to <input type="type" id="maxStartDate" value="" class="reload-table" /></div>
    </div>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Town</th>
            <th>Starting Date</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Town</th>
            <th>Starting Date</th>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script>
        var table = $('#SearchResultTable').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("GetData", "Home")",
                type: 'POST',
                "data": function (d) {
                    d.custom = {
                        "filters": {
                            "Age": { "gte": $('#minAge').val(), "lte": $('#maxAge').val() },
                            "StartingDate": { "gte": formatDate($('#minStartDate').val()), "lte": formatDate($('#maxStartDate').val()) },
                        }
                    }
                }
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
           "columns": [
               { "data": "Id", "name": "IdName" },
               { "data": "Name" },
               { "data": "Age", "orderData": [2,4] },
               { "data": "Town" },
               { "data": "StartingDate" }
            ],
           "columnDefs": [
               {
                   "render": function (data, type, row) {
                       date = new Date(parseInt(row.StartingDate.replace("/Date(", "").replace(")/", ""), 10));

                       return date.toLocaleDateString();
                   },
                   "targets": 4
               },
               { "visible": true, "targets": [4] }
           ],
           searchDelay: 1000
        });

        function formatDate(d) {
            if (d === '') return '';

            return new Date(d).toISOString();
        }

        $('.reload-table').on('change', function () {
            table.ajax.reload();
        });
    </script>
}