@{
    ViewBag.Title = "Simple Data";
}

<table id="table-simple" style="display: block;">
    <thead>
        <tr>
            <th>String</th>
            <th>Integer</th>
            <th>Double</th>
            <th>DateTime</th>
            <th>Boolean</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>String</th>
            <th>Integer</th>
            <th>Double</th>
            <th>DateTime</th>
            <th>Boolean</th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

@section Scripts {
    <script>
        var table = $('#table-simple').DataTable({
            "paging": @this.ViewBag.IsPaged,
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "/home/getsimpledata",
                type: 'POST',
                data: function (data) {

                }
            },
            "columns": [
                { "data": "String" },
                { "data": "Integer" },
                { "data": "Double" },
                { "data": "DateTime" },
                { "data": "Boolean" }
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        date = new Date(parseInt(row.DateTime.replace("/Date(", "").replace(")/", ""), 10));

                        // return (date.getMonth() + 1)  + '/' + date.getDate() + '/' + date.getFullYear();
                        return date.toUTCString();
                    },
                    "targets": 3
                }
            ]
        });
    </script>
}