<table id="SearchResultTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>ProductModel.Name</th>
            <th>ProductModel.ProductSubcategory</th>
            <th>ModifiedDate</th>
            <th>DiscontinuedDate</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>ProductModel.Name</th>
            <th>ProductModel.ProductSubcategory</th>
            <th>ModifiedDate</th>
            <th>DiscontinuedDate</th>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script>
        $('#SearchResultTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        var table = $('#SearchResultTable').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("GetProductsData", "AdventureWorks")",
                type: 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
           "columns": [
               { "data": "Id", "searchable": true },
               { "data": "Name", "searchable": true },
               { "data": "ProductModel.Name", "searchable": true },
               { "data": "ProductModel.ProductSubcategory", "searchable": true},
               { "data": "ModifiedDate", "searchable": false },
               { "data": "DiscontinuedDate", "searchable": false },
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        date = new Date(parseInt(row.ModifiedDate.replace("/Date(", "").replace(")/", ""), 10));

                        return date.toLocaleDateString();
                    },
                    "targets": 4
                },
                {
                    "render": function (data, type, row) {
                        if (!row.DiscontinuedDate) return '';
                        date = new Date(parseInt(row.DiscontinuedDate.replace("/Date(", "").replace(")/", ""), 10));

                        return date.toLocaleDateString();
                    },
                    "targets": 5
                }
            ]
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    </script>
}